<app-default-navbar></app-default-navbar>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="nav pt-5">
        </div>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="footer text-center">
    <small><i class="far fa-copyright"></i> Konectar Systems - All Rights Reserved</small>
</div>